body {
    font-family: "VT323", Arial;
    font-size: 20px;
    background-image: url("./assets/windows\ xp\ bg.jpg");
}

.terminalContainer {
    background-color: black;
    color: white;
    height: 450px;
    width: 600px;
    padding: 10px;
}
.fakeoutputContainer, .inputContainer {
    width: 100%;
    border: solid red 2px;
}

.inputPreText {
    display: inline;
}
.blinkingUnderscore {
    display: inline;
    font-weight: 900;
}