<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../../../stylesSheets/crossSite.CSS" />
    <link rel="stylesheet" type="text/css" href="../../../stylesSheets/artStyles.CSS" />
</head>

<body>
    <div class="offeringDiv">
        <div class="box offeringDescription">
            <h3 id="standardIllustration">Standard Illustration</h3>
            <span class="subtitle">Starting at $30 USD</span>
            <hr style="width: 200px; margin-left: 0;">
            <p>
                Standard illustrations can vary from a basic sketch of a character to a fully lined, colored,
                shaded piece. Multiple characters increase price, as well as adding a background.
            </p>
        </div>
        <div class="box mainIMG"></div>
        <div id="samples" class="box samplePieces">
            <div class="internalWrapper">
                <div class="box sampleIMG"></div>
                <div class="box sampleIMG"></div>
                <div class="box sampleIMG"></div>
                <a href="../samples.html">MORE</a>
            </div>

        </div>

    </div>
</body>

</html>